<div class="twelvecol last" id="comment-form">
  <h3>Post a comment</h3>
  <%= form_for [@post, @comment] do |f| %>
  <%= f.text_area :content, size: '100x10', placeholder: 'Your comment (1400 characters)' %>
  <br />
  <%# OPTIMIZE: Display error messages %>
  <div style="float:left">
  <%= f.label "Name*" %>
  <%= f.text_field :name, size: 36, class: 'text' %>
</div>

  <div style="float:right;">
  <%= f.label 'Country / City / Town*' %>
  <%= f.text_field :country, size: 36, class: 'text' %>
</div>
  <br />
  <div style="float:right;">
  <%= f.label :email %>
  <%= f.text_field :email, size: 36, class: 'text' %>
</div>
  <br />
  <%= f.submit "Post Comment", class: 'submit' %>
  <% end %>
  <hr />
</div>