<div>
  <ul>
    <% unless current_page? root_path %>
    <li style="line-height: 25px;">
      <%= link_to "Home", root_path %>
    </li>
    <% end %>

    <li style="margin-bottom: 5px;">
      <% if current_page? who_path %>
        <%= link_to "Who", who_path, class: 'red' %>
      <% else %>
        <%= link_to "Who", who_path %>
      <% end %>
    </li>

    <li style="font-size: 40px; margin-bottom: 6px;">
      <% if controller_name == 'posts' %>
        <%= link_to "Blogs", posts_path, class: 'red' %>
      <% else %>
        <%= link_to "Blogs", posts_path %>
      <% end %>
    </li>

    <li style="font-size: 40px; margin-left: 10px; margin-bottom: 5px;">
      <% if controller_name == 'galleries' %>
        <%= link_to "Images", galleries_path, class: 'red' %>
      <% else %>
        <%= link_to "Images", galleries_path %>
      <% end %>
    </li>

    <li>
      <% if current_page? contact_path %>
        <%= link_to "Contact", contact_path, class: 'red' %>
      <% else %>
        <%= link_to "Contact", contact_path %>
      <% end %>
    </li>
  </ul>
</div>

<% if params[:controller] == 'galleries' %>
  <% if params[:action] == 'show' %>
  <div id="galleries-menu">
    <h4>Categories</h4>
    <ul>
      <li>Food</li>
      <li style="margin-left: -22px;">People</li>
      <li style="margin-left: 15px;">Places</li>
    </ul>
  </div>
  <% end %>

  <div id="back-button">
    <ul>
      <li><%= link_to 'Back to Images', galleries_path %></li>
    </ul>
  </div>
<% end %>