<%# LATER: Make these rotate (javascript plugin) %>
<div class="ninecol" id="left">
  <%= image_tag @main_image.one.url %>
  <%= image_tag @main_image.two.url %>
  <%= image_tag @main_image.three.url %>
  <%= image_tag @main_image.four.url %>
  <%= image_tag @main_image.five.url %>
  <%= image_tag @main_image.six.url %>
</div>

<div class="threecol last" id="right">
  <div class="row">
    <div class="twelvecol">
      first thumb
    </div>
  </div>

  <div class="row">
    <div class="twelvecol">
      second thumb
    </div>
  </div>

  <div class="row">
    <div class="twelvecol">
      third thumb
    </div>
  </div>
</div>