<div class="ninecol" id="left">
  <div class="slideshow" id="home-slide">
    <%= render partial: 'main_slide', collection: @main_posts %>
  </div>
</div>

<div class="threecol last" id="right">
<div style="margin-left: 25px;">
  <div class="slideshow" style="margin-bottom:5px;">
    <%= image_tag @first_thumbs.one.url %>
    <%= image_tag @first_thumbs.two.url %>
    <%= image_tag @first_thumbs.three.url %>
  </div>
  <div class="slideshow" style="margin-bottom:5px;">
    <%= image_tag @second_thumbs.one.url %>
    <%= image_tag @second_thumbs.two.url %>
    <%= image_tag @second_thumbs.three.url %>
  </div>
  <div class="slideshow">
    <%= image_tag @third_thumbs.one.url %>
    <%= image_tag @third_thumbs.two.url %>
    <%= image_tag @third_thumbs.three.url %>
  </div>
</div>
</div>