<%# LATER: Make these rotate (javascript plugin) %>
<div class="ninecol" id="left">
  <div class="slideshow">
    <div class="slide">
      <%= image_tag @main_images.one.url, size: '650x439' %>
      <p>bla</p>
    </div>

    <div class="slide">
      <%= image_tag @main_images.two.url, size: '650x439' %>
      <p>bla</p>
    </div>


</div>
</div>

<div class="threecol last" id="right">
<div style="margin-left: 25px; line-height: 0">
  <%= thumb_img @first_thumbs %>
  <%= thumb_img @second_thumbs %>
  <%= thumb_img @third_thumbs %>
</div>
</div>