<%# LATER: Make these rotate (javascript plugin) %>
<div class="ninecol" id="left">
  <div class="slideshow">
  <%= image_tag @main_images.one.url %>
  <%= image_tag @main_images.two.url %>
  <%= image_tag @main_images.three.url %>
  <%= image_tag @main_images.four.url %>
  <%= image_tag @main_images.five.url %>
  <%= image_tag @main_images.six.url %>
</div>
</div>

<div class="threecol last" id="right">
<div style="margin-left: 25px; line-height: 0">
  <%= thumb_img @first_thumbs %>
  <%= thumb_img @second_thumbs %>
  <%= thumb_img @third_thumbs %>
</div>
</div>