<div class="twelvecol last" id="image-content">
  <hr class="nomargintop" />

  <div class="row" id="cat-titles">
    <div class="fourcol">
      <span class="title">
        <%= link_to c: 'Food' do %>
        FOOD
        <% end %>
      </span>
    </div>

    <div class="fourcol">
      <span class="title">
        <%= link_to c: 'People' do %>
        PEOPLE
        <% end %>
      </span>
    </div>

    <div class="fourcol last">
      <span class="title">
        <%= link_to c: 'Places' do %>
        PLACES
        <% end %>
      </span>
    </div>
  </div>

  <div class="row">
    <div class="fourcol" style="text-align:left;">
      <% @food_images.each do |image| %>
      <%= link_to album_path(image.album) do %>
      <%= image_tag image.file.url(:thumb), class: 'tn' %>
      <% end %>
      <% end %>
    </div>
    <div class="fourcol" style="text-align:center;">
      <% @people_images.each do |image| %>
      <%= link_to album_path(image.album) do %>
      <%= image_tag image.file.url(:thumb), class: 'tn' %>
      <% end %>
      <% end %>
    </div>
    <div class="fourcol last" style="text-align: right;">
      <% @places_images.each do |image| %>
      <%= link_to album_path(image.album) do %>
      <%= image_tag image.file.url(:thumb), class: 'tn' %>
        <% end %>
      <% end %>
    </div>
  </div>


  <hr class="nomargin" />
</div>
