<div id="post-details">
  <div class="twelvecol last">
    <div style="float:left; width:80%">
      <div class="title"><%= post.category.title %></div>
      <%= post.country %>
      <%= " : " + post.city unless post.city.blank? %>
    </div>
    <% # FIXME: why the date isn't rendered? %>
    <div class="date"><%= format_date(post.publish_date) %></div>
  </div>

  <div class="twelvecol last">
    <div class="title">Story</div>
    <%= post.story_title %>
  </div>

  <div class="twelvecol last">
    <div class="onecol"></div>
    <div class="subtitle"><%= post.story_subtitle %></div>
  </div>

</div>

<div id="post-body">
  <div class="twelvecol last" <%= raw "style=\"margin-top:10px;\"" if controller.action_name == 'index' %>>
    <% if controller.action_name == 'index' %>
      <%= preview_image(post.content) %>
      <%= preview_content(post.content, 50) %>
      <%= link_to 'Read More', post, class: 'readmore' %>
    <% else %>
      <%= raw post.content %>
    <% end %>
  </div>
</div>

<div id="post-credits">
  <div class="credits">
    <div class="sixcol">
      <span class="red">Story</span> by <%= post.author.name %>
    </div>

    <div class="sixcol last">
      <span class="red">Images</span> by <%= post.photographer.name %>
    </div>
  </div>

  <div class="twelvecol last">
    <div class="tags">
      <span class="red" style="margin-right: 5px;">Tags:</span>
      <% post.tags.each do |tag| %>
      <%= link_to tag.name, posts_path(:tag => tag.name) %>
      <% end %>
    </div>
    <div style="text-align:right; font-size: 13px;">
      <%= link_to_function "Print this post", "javascript:print()" %>
    </div>
  </div>

  <div class="twelvecol last">
    <hr />
  </div>
</div>