<div id="post-details">
  <div class="row" style="margin-bottom: 5px">
    <div class="onecol">
      <span class="red"><%= post.category.title.singularize %></span>
    </div>
    <%= post.country %>
    <%= " : " + post.city unless post.city.blank? %>
  </div>

  <div class="row">
    <div class="onecol">
      <span class="red">Story</span>
    </div>
    <%= post.story_title %>
  </div>

  <div class="row">
    <div class="onecol"></div>
    <div class="subtitle"><%= post.story_subtitle %></div>
  </div>

  <div class="row">
    <div class="onecol"></div>
    <span class="date"><%= format_date(post.publish_date) %></span>
  </div>
</div>

<div id="post-body">
  <div class="twelvecol last">
    <% if controller.action_name == 'index' %>
      <%= raw post.content %>
      <div class="row">
        <%= link_to 'Read More', post %>
      </div>
    <% else %>
      <%= raw post.content %>
    <% end %>
  </div>
</div>

<div id="post-credits">
  <div class="twelvecol last">
    <div class="tags">
      Tags:
      <% post.tags.each do |tag| %>
      <%= link_to tag.name, posts_path(:tag => tag.name) %>
      <% end %>
    </div>
  </div>

  <div class="credits">
    <div class="fourcol">
      <span class="red">Story</span> by <%= post.author.name %>
    </div>

    <div class="fourcol">
      <span class="red">Images</span> by <%= post.photographer.name %>
    </div>

    <div class="fourcol last">
      corey@fppis.com
    </div>
  </div>

  <div class="twelvecol last">
    <hr />
  </div>
</div>