<div class="contentwrapper" id="post-details">
  <div class="onecol date">
    <%= format_date(post.publish_date) %>
  </div>

  <div class="elevencol last">
    <h1><span class="title-label">
      <%= post.category.title.singularize %></span> <%= post.category_title %>
    </h1>

    <h1>
      <span class="title-label">Story</span> <%= post.story_title %>
    </h1>

    <span class="subtitle">
      <%= post.story_subtitle %>
    </span>
  </div>
</div>

<div class="contentwrapper" id="post-body">
  <div class="elevencol last">
    <%= raw post.content %>
  </div>
</div>

<div class="contentwrapper" id="post-credits">
  <div class="elevencol last">
    <%# TODO: remove comments %>
    Story by <%#= post.author.name %><br />
    Photos by <%#= post.photographer.name %>
  </div>

  <%# TODO: show tags %>
  <% post.tags.each do |tag| %>
  <%= tag.name %>
  <% end %>

  <div class="twelvecol last">
    <hr />
  </div>
</div>

