<div class="ninecol" id="left">
  <%= render 'ruler' %>

  <%= render 'notice' %>

  <%= render @post %>

  <%= render 'comments/comment_form' %>

  <h3>Comments</h3>
  <%= render @comments %>
  <%= paginate @comments %>
</div>

<div class="threecol last" id="right">
  <%= render 'posts_menu' %>
</div>
