<!DOCTYPE html>
<html>
<head>
  <title>FPPIS</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= stylesheet_link_tag params[:controller], media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'jquery.cycle.all' if current_page? root_path %>
  <%= csrf_meta_tags %>
  <% if current_page?(root_path) %>
  <script type="text/javascript">
  $(document).ready(function() {
      $('.slideshow').cycle({
      fx: 'fade',
      speed: 500,
      delay: <%= HpMainImage.first.rotate_delay.to_i %>
    });

      $('.thumb-slideshow').cycle({
      fx: 'fade',
      speed: 500,
    });
  });
  </script>
  <% end %>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="twocol" id="menu" <%= raw 'style="margin-top:230px;"' if params[:c] %> <%= raw 'style="margin-top:266px;"' if params[:controller] == 'albums' && params[:action] =='show' %> >
      <%= render 'shared/menu' %>
    </div>

    <div class="tencol last" id="main">
      <%= render 'shared/logo' %>

      <div class="row" id="content">
        <%= yield %>
      </div>

      <div class="row" id="footer">
        <%= render 'shared/footer' %>
      </div>
    </div>
  </div>
</div>

</body>
</html>
